.app-title-container{
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 3px double  black;
}

.app-title{
  text-align: center;
  margin: 0;
}

.main-emoji-container{
  height: 250px;
  width: 250px;
  display: block;
  margin-left: 220px;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.emoji{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.emoji-container{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  width: 100%;
  margin-left: 100px;
  margin-right: auto;
  border-radius: 10px;
}

.emoji-first-view{
  display: flex;
  margin-top: 80px;
}

.emoji-second-view{
  margin-left:20%;

}

.emoji-item{
  font-size: 40px;
  margin: 10px;
  cursor: pointer;

}

.emoji-item:hover{
  transform: scale(1.8);
}

.colors-container{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  width: 90vh;
  border-radius: 10px;
}

.color-item{
  border: 1px solid gray;
  border-radius: 5px;
  width: 10vw;
  height: 50px;
  margin: 20px;
}

.color-item:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.bg-red{
  background-color: red;
}

.bg-purple{
  background-color: purple;
}

.bg-pink{
  background-color: pink;
}

.bg-yellow{
  background-color: yellow;
}

.bg-black{
  background-color: blueviolet;
}

.size-container{
  background-color: white;
  width: 500px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 17px;

}

.size-slider{
  width: 100%;
  margin: 10px;
}